.container-fluid {
  padding-top: 15px;
}
a {
  color: #ff8400;
  text-decoration: none;
}
a:focus, a:hover {
  color: #ffa321;
}
.btn:focus {
  color: #fff;
}
.alert-elephant {
  color: #fff7ea;
  background-color: #ffb54c;
  border-color: #f89406;
}
.btn-elephant-1 {
  color: #fff;
  background-color: #ff8400;
  border-color: #ff7200;
}
.btn-elephant-1:hover {
  color: #fff;
  background-color: #df6400;
  border-color: #df5200;
}
.btn-elephant-2 {
  color: #fff;
  background-color: #ffaf3e;
  border-color: #d68109;
}
.btn-elephant-2:hover {
  color: #fff;
  background-color: #df8f1e;
  border-color: #b66100;
}
.btn-elephant-3 {
  color: #82600f;
  background-color: #ffd697;
  border-color: #dead1b;
}
.btn-elephant-3:hover {
  color: #624000;
  background-color: #dfb677;
  border-color: #be8d00;
}
.nav-pills>li.active>a{
  color: #fff;
  background-color: #f89406;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #d87400;
}
.question-text {
  color: #dc6900;
}
.answer-well {
  background-color: #ffdba7;
  border: 1px solid #ffbf5b;
}
